{% extends "home.html" %}

{% block content %}
<div class="col-sm-4 rounded-3 bg-light p-5">
    <h3>Imagen</h3>
    <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename = name) }}" alt="" srcset="">
</div>
<div class="col-sm-4 rounded-3 bg-light p-5">
    <h3>Texto Generado</h3>
    <p id="p1" class="fst-normal lh-base">{{ ntext }}</p>
    <button onclick="copiarAlPortapapeles('p1')" class="btn btn-primary w-100"> <i class="bi bi-files"></i> COPIAR párrafo</button>
    <div id="alerta" class="alert invisible"></div>
    <script>
        function copiarAlPortapapeles(id_elemento) {
            var aux = document.createElement("input");
            aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
            alert("Se a copiado \n con exito");
        }
    </script>
</div>
{% endblock%}